.container{
    max-width: 1040px;
}
#heading{
    background-color: orange;
    width: 30%;
    height: 50px;
}

#game-instructions{
    background-color: beige;
    width: 40%;
}

.board{
    background-color: green;
    width: 20%;
    height: 200px;
    float: left;
}

.win-loss {
    background-color: aqua;
    width: 15%;
    height: 200px;
    float: left; 
    margin-left: 10px;
}

.crystals{
    clear: both;
    padding-top: 20px;
}

.total {
    background-color: teal;
    width: 40%;
    height: 50px;
}

.totalBox {
    background-color: teal;
    width: 40%;
    height: 150px;
}