.container{
    max-width: 1040px;
}
#heading{
    background-color: orange;
    width: 30%;
    height: 50px;
}

#game-instructions{
    background-color: beige;
    width: 40%;
}

.board{
    background-color: green;
    width: 20%;
    height: 200px;
}